.container{
    height: 100px;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
}

.linkContainer{
    list-style: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
}

.linkItem:hover{
    color: var(--textBlue);
    cursor: pointer;
    scale: 1.1;
    transition: all ease-in-out;
}

.linkActive{
    color: var(--textBlue);
    scale: 1.1;
}
.menuButton,
 .navbarResponsive{
    display: none;
 }

 .mobileLinks{
    display: none;
 }
 
@media (max-width: 768px) {
    .linkContainer {
      display: none;
    }
    .menuButton {
      display: block;
      cursor: pointer;
    }
  
    .mobileLinks {
      position: absolute;
      top: 100px;
      list-style: none;
      border-radius: 10px;
      box-shadow:0 0 10px 1px rgba(0, 0, 0, 0.3);
      right: 0;
      width: 50%;
      height: calc(100vh - 100px);
      background-color: var(--bg);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }